$primary-color: white;
$secondary-color: #444;
$hover-color: rgb(196, 22, 22);
$background-color: black;

$navbar-background-color: rgba(0, 0, 0, 0.75);
$login-background-color: rgba(0, 0, 0, 0.85);
$error-background-color: rgba(255, 128, 0, 0.85);

$logo-user-color: rgb(196, 22, 22);

