
.heading {
    font-size: 3rem;
    color: $primary-color;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;    
    letter-spacing: 0.02em;
    text-shadow: 0 1px 0 #00000030;
  }